@model BudgetAnalyzer.ViewModels.AccountOperations.AccountOperationsIndexViewModel

@{
    ViewData["Title"] = "Account Operations";
}

<ul class="nav nav-pills" role="tablist">
    @foreach (var acc in Model.Accounts)
    {
        string active = acc.Id == Model.CurrentAccount.Id ? "active" : "";
        <li role="presentation" class="@active"><a asp-action="Index" asp-route-account-id="@acc.Id">@acc.Name</a></li>
    }
</ul>

@{await Html.RenderPartialAsync("_BankAccountDetailsSummary", Model.CurrentAccount);}

<h2>Account Operations</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAccountOperations.First().Ammount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAccountOperations.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAccountOperations.First().Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAccountOperations.First().Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAccountOperations.First().Statement)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model.CurrentAccountOperations) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ammount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @if (item.StatementId.HasValue)
            {
                <a asp-controller="AccountStatements" asp-action="Details" asp-route-id="@item.StatementId">Statement #@item.StatementId</a>
            }
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
